@value colors: "../../common/colors.module.css";
@value makerShadow, makerLightGrey-first, makerWheat, makerWhite, makerBlack,makerLighterGrey-second, makerBlue,makerLightWhite,makerLightPink,makerDeepShadow,makerprimary from colors;

@value size: "../../common/size.module.css";
@value mediaQuery from size;

.card{
    background-color: makerWhite;
    max-width: 300px;
    position: relative;
    display: flex;
    width: 40%;
    margin: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    padding: 1em;
    padding-bottom: 2em;
    border-radius: 1em;
    box-shadow: makerShadow;
}

.avatar{
    border-radius: 50%;
    width: 8em;
    height: 8em;
    padding: 0.3em;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name,
.title,
.company,
.email,
.message{
    font-family: 'Roboto';
    margin: 0;
    font-size: 0.8rem;
    margin-bottom: 0.4em;
    letter-spacing: 0.02em;
    text-align: center;   
}

.name{
    font-size: 1.3rem;
    font-weight: bold;
}

.title{
    color: makerLightGrey-first ;
    font-weight: 400;
}

.company{
    font-weight: 400;
    color: makerprimary;
}

.stack{
    font-size: 0.6rem;
    border: 1px solid transparent;
    margin-top: 0.3em;
    padding: 0.6em 2em;
    border-image: linear-gradient(to right, makerLighterGrey-second 0%, makerprimary 100%);
    border-image-slice: 1;
    border-radius: 1em;
}

.message{
    color: makerLighterGrey-second;
    font-weight: bold;
    margin: 1em;
    height: 4em;
}

.githubURL{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.7em;
    background: makerprimary;
    border-radius: 1em 1em 1em 3em;
}

.dark{
    background: makerBlack;
}

.blue{
    background:makerBlue;
}

.pink{
    background: makerprimary;
}

@media screen and (max-width: mediaQuery){
    .card{
        width: 80%;
    }
}