@value colors: '../../common/colors.module.css';
@value makerLighterGrey-third,makerLighterGrey-fourth from colors;
.container{
    width : 100%;
    height: 100%;
    display: flex;
}

.input{
    display: none;
}
.button{
    flex-basis:100%;
    font-size: 0.7em;
    font-weight: 700;
    border: 1px solid makerLighterGrey-third;
    border-radius: 0.2em;
    padding: 0.5em;
    margin: 0.2em;
    cursor: pointer;
    transition: border 100ms ease-in ;
}

.button:hover{
    border: 1px solid makerLighterGrey-fourth;
}

