@value colors: '../../common/colors.module.css';
@value makerprimary,makerLightGrey-first,makerLighterGrey-third,makerLighterGrey-fourth from colors;
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border 100ms ease-in ;
}

.input{
    display: none;
}

.button{
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 700;
    border-radius: 0.2em;
    padding: 0.5em;
}

.button.grey{
    border: 1px solid makerLighterGrey-third;
    color: makerLightGrey-first;
}

.button.pink{
    background: makerprimary;
    color: white;
}

.loading{
    width: 1.5em;
    height: 1.5em;
    border-radius:50%;
    border: 2px solid makerLighterGrey-third;
    border-top: 2px solid makerprimary;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

