@value colors: "../../common/colors.module.css";
@value makerprimary,makersecondary,makerWhite,makerGrey,makerLightGrey,makerShadow from colors;
ul{
    list-style: none;
    padding: 0;
}

button{
    background: transparent;
    outline: none;
    border: 0;
}

.login{
    height: 100vh;
}

.background{
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:  100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.logo{
    font-size: 5em;
    margin-bottom: 0.4em;
    color: makerprimary;
}

.title{
    font-weight: lighter;
    font-size: 1rem;
    margin: -1rem 0 0.6rem 0 ;
    animation: animation 300ms ease-in;
}
.title > span{
    font-weight: bold;
}

@keyframes animation {
    from{
        transform: translateY(10px);
    }
    to{
        transform: translateY(0px);
    }
}

.loginBtn,
.btn{
    cursor: pointer;
    color: makerWhite;
}

.loginBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 9rem;
    margin: 0.8em;
    text-align: center;
    background: makerLightGrey;
    border-radius: 1em;
    box-shadow: makerShadow;
}

.loginBtn:hover{
    background-color: makerGrey;
}

.loginBtn:nth-child(3){
    font-size: 0.8rem;
    background: makersecondary;
}

.loginBtn:nth-child(3)>a{
    color: makerWhite;
    text-decoration: none;
}


