*{
    position: relative;
}

.backGround{
    width: 100vw;
    height: 100vh;
    background: center / cover no-repeat url('../src/image/img8.jpg');
    opacity: 0.6;
}

.section{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.absolute{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}